@use "../../styles/partials/global";
@use "../../styles/partials/resets";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.homePage {
    &__body {
        width: 100%;
        margin: 0 auto;
    }
}
.head {
    &__body {
        height: 50rem;
        margin: 0 auto;
    }
    &__title-position {
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 20rem;
        
    }
    &__title1 {
        font-size: 6rem;
        font-family: $font-stack;
        font-weight: 600;
        // margin-right:10rem;
        width: 90%;
    }
    &__title2 {
        margin-right: 2rem;
    }
    &__description-position {
        margin: 10rem 0 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: flex-start;
        max-width: 30rem;
    }
}
.projects {
    &__body {
        height: auto;
        background-color: $secondaryoffWhite;
        font-family: $font-stackB;
        padding: 2rem 1rem;   
    }
    &__title {
        margin: 2rem ;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
  
    &__feature{
        border-top: 1px solid $secondaryGrey;
        margin-top: 1.5rem;
        width: 20rem;
    }
    &__card--wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__card1 {
        width: 22rem;
        height: 28rem;
        // border: 1px solid $primaryBlack;
        border-radius: 1rem;
        box-shadow: $shadow;
        background-color: white;
    }
  
}
.about {
    &__body {
        height: auto;
        
        font-family: $font-stackB;
        padding: 2rem 1rem;
    }
    &__title {
        margin: 2rem ;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    &__feature{
        border-top: 1px solid $secondaryGrey;
        margin-top: 1.5rem;
        width: 20rem;
    }
    &__container--wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
    }
    &__text {
        max-width: 46rem;
        margin: 2rem;
    }
    &__imgContainer {

    }
    &__imgPhoto {
        // background-image:url("../../assets/images/portfolio-copy.jpg");
        // background-repeat: no-repeat;
        max-width:24rem;
        border-radius: 2px;
        box-shadow: $shadow;
 
    }
}
.details {
    &__body {
        height: 20vh;
        background-color: $secondaryoffWhite;
    }
}